In [ ]:
#lets first fetch some some html data using request library

In [1]:
import requests

In [2]:
headers={
    'User-Agent':'Mozilla/5.0'
}
url='https://www.scrapethissite.com/pages/simple/'
res=requests.get(url,headers=headers)

In [3]:
#getting the data

In [4]:
print(res.status_code)
#print(res.text)
#print(res.headers)
#print(res.content)

200

In [5]:
#storing the data in seperate file

In [6]:
with open('Scrapped_data/data1.html','w') as f:
    f.write(res.text)

In [ ]:
#beautifulsoup

In [8]:
from bs4 import BeautifulSoup

In [9]:
with open('Scrapped_data/data1.html','r') as f:
    html_content=f.read()

In [31]:
soup=BeautifulSoup(html_content,'lxml')

In [ ]:
#getting data

In [60]:
country_list=soup.find_all('h3')
df_country=[]
df_capital=[]
df_population=[]
for countries in country_list:
    df_country.append(countries.get_text().strip())
    df_capital.append(countries.find_next('div').select('span.country-capital')[0].get_text())
    df_population.append(countries.find_next('div').select('span.country-population')[0].get_text())

In [61]:
#importing pandas to make dataframe of the information fetched

In [62]:
import pandas as pd

In [63]:
country_data={'country':df_country,'capital':df_capital,'popultion':df_population}
df=pd.DataFrame(country_data)

In [64]:
df

                  country           capital popultion
0                 Andorra  Andorra la Vella     84000
1    United Arab Emirates         Abu Dhabi   4975593
2             Afghanistan             Kabul  29121286
3     Antigua and Barbuda        St. John's     86754
4                Anguilla        The Valley     13254
..                    ...               ...       ...
245                 Yemen             Sanaa  23495361
246               Mayotte         Mamoudzou    159042
247          South Africa          Pretoria  49000000
248                Zambia            Lusaka  13460305
249              Zimbabwe            Harare  11651858

[250 rows x 3 columns]